.our-team{
  padding-top: 80px;
  margin-bottom: 100px;
}
.team-item{

}
.team-item img{
  width: 100%;
  height: 416px;
  object-fit: cover;

}
.icon-list a{
  color: #000000;
  font-size: 40px;
  padding: 0 10px;
  width: auto;
}

@media screen and (max-width: 767px) {
  .access-key-item ul li{
    font-size: 18px;
  }
}
